<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logos/favicon.png"/>
    <title>Tixte - The Ultimate Gaming Platform</title>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap-reboot.min.css">

    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <!-- Tixte Logo in Navbar -->
        <a href="index.html">
            <img class="logo" src="../static/img/logos/text-logo.png" alt="Tixte_logo" width="130">
            <span class="badge badge-primary align-top">FOSS</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Login and Sign Up Buttons in Navbar -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('hub') }}">Go to the Hub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- First Header -->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <div class="wrapper">
                <a>
                    <h1>
                        <!-- Tixte Logo -->
                        <img class="logo" src="../static/img/logos/text-logo.png" alt="Tixte_logo">
                        <span class="badge badge-primary align-top">FOSS</span>
                    </h1>
                </a>
            </div>

            <!-- Typing Text -->
            <h3 class="masthead-subheading mb-0">It's the
                <span class="txt-rotate" data-period="1000"
                      data-rotate='["open source", "free online", "MIT licensed", "customizable"]'></span>
                <span> gaming platform</span>
            </h3>

            <!-- Large Sign up Button -->
            <div class="text-center">
                <a href="{{ url_for('hub') }}" class="btn btn-primary btn-xl rounded-pill mt-3"
                   style="width:500px;">Go to the Hub</a>
            </div>
            <br>
            <!-- Scroll Down Text to Learn More -->
            <h5 class="mb-0">
                <i><u>Scroll Down</u></i><u> To Learn More.</u>
            </h5>
            <br>
        </div>
    </div>
    <!-- Bubbles/Circles in Background -->
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Main Content -->
<div class="container">

    <!-- First Content Section -->
    <section>

        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <!-- Super Hero Image -->
                    <img class="img-fluid" src="../static/img/superhero.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <div class="text-center">
                        <!-- Text Header -->
                        <h2 class="display-4">Do not fear, Tixte is here!</h2>

                        <!-- Text Paragraph -->
                        <p>
                            With Tixte FOSS anybody can host a Tixte instance! All you have to do is collect games and
                            Tixte will do all the heavy lifting!
                        </p>

                        <!-- Link to List of Games -->
                        <a href="{{ url_for('all_games') }}" class="btn btn-secondary btn-lg rounded-pill mt-2">See This
                            Instance's Game List</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Second Content Section -->
    <section>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <!-- Game Controller Image -->
                    <img class="img-fluid" src="../static/img/controller.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <!-- Text Header -->
                        <h2 class="display-4">Come one, come all!</h2>

                        <!-- Text Paragraph -->
                        <p>
                            Tixte FOSS lets anyone trivially set up their own hub. Tixte FOSS can run on
                            anything from Heroku to industrial servers due to it's Python/Flask backend. All you
                            need
                            to run Tixte FOSS is hosting & a collection of games to satisfy your users!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Second Content Section -->
    <section>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <!-- Shield Image -->
                    <img class="img-fluid" src="../static/img/secure.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <div class="text-center">
                        <!-- Text Header -->
                        <h2 class="display-4">You know you're safe.</h2>

                        <!-- Text Paragraph -->
                        <p>
                            Tixte FOSS has removed all of Tixte's tracking and services, letting you assure your
                            users privacy. You can customize your databases and have full control. Tixte FOSS also
                            lets
                            you change your Tixte instance as much as you want to fit your needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="p-5">
    <div class="text-center">
        <!-- Tixte Logo -->
        <img src="../static/img/logos/t-logo.png" alt="Tixte_logo">
    </div>
</div>

<!-- Final Content Section -->
<section>
    <div class="container text-center">
        <!-- Text Header -->
        <h1 class="masthead-heading">Your Games. Our Hub. Now Open Source.</h1>

        <!-- Text Paragraph -->
        <p>
            Setting up gaming platforms used to be hard, now its easy. Tixte FOSS lets you trivially set up an
            online
            gaming platform. By editing a few configuration files your hub can be up within minutes.
        </p>
    </div>
</section>

<br>
<br>

<!-- Footer -->
<section class="py-5 bg-black">
    <!-- Footer Text -->
    <div class="container">
        <p class="m-0 text-center text-white small">Page Created By The Tixte FOSS Group under the MIT License.
            Image credit to <a href="https://www.freepik.com/" target="_blank">FreePik</a>. Template Credit to
            <a href="https://startbootstrap.com" target="_blank">StartBootstrap</a> Please note Tixte FOSS comes
            with absolutely no warranty.
        </p>
    </div>
</section>

<script>
    if (localStorage.getItem("tixte_dark") === undefined) {
        localStorage.setItem("tixte_dark", "false")
    }
    if (localStorage.getItem("tixte_dark") === "undefined") {
        localStorage.setItem("tixte_dark", "false")
    }
</script>
<!-- Bootstrap core JavaScript -->
<script src="../static/third-party/jquery/jquery-3.4.1.min.js"></script>
<script src="../static/third-party/popper/popper.min.js"></script>
<script src="../static/third-party/popper/popper-utils.min.js"></script>
<script src="../static/third-party/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Typing Animation -->
<script src="../static/js/typing-animation.js"></script>
</body>
</html>
