<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logos/favicon.png"/>
    <title>Tixte - The Ultimate Gaming Platform</title>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap-reboot.min.css">

    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a href="index.html">
            <img class="logo" src="../static/img/logos/text-logo.png" alt="Tixte_logo" width="130">
            <span class="badge badge-primary align-top">FOSS <span class="text-warning">Beta</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com" target="_blank">See The Source Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary btn-sm rounded-pill" href="https://google.com">Create An
                        Instance</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <div class="wrapper">
                <a>
                    <h1><img class="logo" src="../static/img/logos/text-logo.png" alt="Tixte_logo">
                        <span class="badge badge-primary align-top">FOSS <span class="text-warning">Beta</span></span>
                    </h1>
                </a>
            </div>
            <h3 class="masthead-subheading mb-0">It's the
                <span class="txt-rotate" data-period="1000"
                      data-rotate='["open source", "free online", "MIT licensed", "customizable"]'></span>
                <span> gaming platform</span>
            </h3>
            <div class="text-center">
                <a href="https://github.com" class="btn btn-primary btn-xl rounded-pill mt-3"
                   style="width:500px;">Create An Instance</a>
            </div>
            <br>
            <h5 class="mb-0"><i><u>Scroll Down</u></i><u> To Learn More.</u></h5>
            <br>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid" src="../static/img/superhero.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <div class="text-center">
                        <h2 class="display-4">Do not fear, Tixte is here!</h2>
                        <p>With Tixte FOSS anybody can host a Tixte instance! All you have to do is collect games and
                            Tixte will do all the heavy lifting!</p>
                        <a href="https://github.com" class="btn btn-secondary btn-lg rounded-pill mt-2" target="_blank">Create
                            An
                            Instance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid" src="../static/img/controller.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h2 class="display-4">Come one, come all!</h2>
                        <p>Tixte FOSS lets anyone trivially set up their own hub. Tixte FOSS can run on
                            anything from Heroku to industrial servers due to it's Python/Flask backend. All you need
                            to run Tixte FOSS is hosting & a collection of games to satisfy your users!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid" src="../static/img/secure.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <div class="text-center">
                        <h2 class="display-4">You know you're safe.</h2>
                        <p class="">Tixte FOSS has removed all of Tixte's tracking and services, letting you assure your
                            users privacy. You can customize your databases and have full control. Tixte FOSS also lets
                            you change your Tixte instance as much as you want to fit your needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <section>
        <br>
        <div class="p-5">
            <div class="text-center">
                <img src="../static/img/logos/t-logo.png" alt="Tixte_logo">
            </div>
        </div>
        <div class="container text-center">
            <h1 class="masthead-heading">Your Games. Our Hub. Now Open Source.</h1>
            <p>Setting up gaming platforms used to be hard, now its easy. Tixte FOSS lets you trivially set up an online
                gaming platform. By editing a few configuration files your hub can be up within minutes.</p>
        </div>
    </section>
    <br>
    <br>
    <!-- Footer -->
    <section class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Page Created By The Tixte FOSS Group under the MIT License.
                Image
                credit to <a href="https://www.freepik.com/" target="_blank">FreePik</a>. Template Credit to
                <a href="https://startbootstrap.com" target="_blank">StartBootstrap</a>. All Tixte names logos belong to
                the Tixte Group. Tixte name and logo may only be used for Tixte FOSS instances. Please note Tixte FOSS
                comes with absolutely no warranty.
            </p>
        </div>
    </section>


    <!-- /.container -->
</section>

<script>
    if (localStorage.getItem("tixte_dark") === undefined) {
        localStorage.setItem("tixte_dark", "false")
    }
    if (localStorage.getItem("tixte_dark") === "undefined") {
        localStorage.setItem("tixte_dark", "false")
    }
</script>
<!-- Bootstrap core JavaScript -->
<script src="../static/third-party/jquery/jquery-3.4.1.min.js"></script>
<script src="../static/third-party/popper/popper.min.js"></script>
<script src="../static/third-party/popper/popper-utils.min.js"></script>
<script src="../static/third-party/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Typing Animation -->
<script src="../static/js/typing-animation.js"></script>
</body>
</html>
