<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Game - Tixte Admin</title>
</head>
<body>
{% if loginfailed == True %}
    <h5 style="color: red">Incorrect Password</h5>
{% endif %}
<form action="{{ url_for('admin') }}" method="POST">
    <h1>Administrator Login</h1>
    <br>
    <label>
        Password: <input type="password" name="password" autofocus/>
    </label><br>
    <input type="submit" value="Login"/><br>
</form>
<script>
    // Log Admin Out Upon Arrival
    sessionStorage.setItem("admin_key", "")
</script>
</body>
</html>